<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://people.rit.edu/~dmb4086/TigerX/expanded.css" rel="stylesheet">


<div class="row2">
    <div class="column2">
      <div>
        <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1561489855-square-1494869964-ikea-ektorp-sofa-cover-1561489824.jpg" style="border-radius: 20px; width: 45vw; height: 50vh;" />
      </div>
      <div class="row2">
        <div class="column2">
            <img src="https://image.shutterstock.com/image-vector/male-silhouette-avatar-profile-picture-260nw-199246382.jpg" />
        </div>
        <div class="column2">
            <p style="padding-top: 20px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis risus felis. Proin dictum lorem eu posuere vulputate. In hac habitasse platea dictumst. Nam massa mi, efficitur sit amet dignissim ut, eleifend in nisi. Donec at fringilla dui, non ullamcorper eros. Morbi sodales odio in diam iaculis imperdiet. Ut varius, dolor gravida fermentum mollis, urna arcu volutpat odio, in feugiat nunc magna sit amet mauris. Aenean in turpis lacus. Sed posuere interdum nibh, commodo fermentum erat volutpat hendrerit. Aliquam bibendum velit eu ultrices varius. In sem erat, pellentesque in consectetur ut, lobortis id lacus. In hac habitasse platea dictumst. Mauris at risus risus.
            </p>
        </div>
        </div>
    </div>
    <div class="column2">
        <p style="padding-top: 20px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis risus felis. Proin dictum lorem eu posuere vulputate. In hac habitasse platea dictumst. Nam massa mi, efficitur sit amet dignissim ut, eleifend in nisi. Donec at fringilla dui, non ullamcorper eros. Morbi sodales odio in diam iaculis imperdiet. Ut varius, dolor gravida fermentum mollis, urna arcu volutpat odio, in feugiat nunc magna sit amet mauris. Aenean in turpis lacus. Sed posuere interdum nibh, commodo fermentum erat volutpat hendrerit. Aliquam bibendum velit eu ultrices varius. In sem erat, pellentesque in consectetur ut, lobortis id lacus. In hac habitasse platea dictumst. Mauris at risus risus.

Donec a malesuada tellus. Cras a efficitur tortor. Nullam at est aliquam, posuere libero sed, dictum felis. Morbi elementum vel elit vel feugiat. Proin ante lectus, hendrerit vitae laoreet vel, suscipit quis est. Phasellus sed dolor porta, ullamcorper nunc quis, euismod eros. Cras sit amet sagittis sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec fringilla diam non orci ullamcorper, in sollicitudin urna dapibus. Cras fringilla posuere metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis sed tristique enim, quis viverra augue. Sed vestibulum felis sit amet pellentesque malesuada. Maecenas rhoncus congue libero a tempus.

Sed nec eros imperdiet, interdum purus at, porta libero. Etiam rhoncus dui ultrices tempus convallis. Cras luctus sed erat ac commodo. Cras ac lacus a magna ullamcorper euismod. Maecenas venenatis feugiat sapien, in fringilla massa ornare non. Proin vitae odio quam. Suspendisse quis suscipit tortor, sed sodales massa. Fusce vehicula cursus dui, non pharetra lacus egestas vel. Nunc tortor diam, convallis vel tristique sit amet, suscipit in erat. Ut non magna interdum, finibus magna at, laoreet est. Ut venenatis elit id nunc ultrices, nec feugiat erat porttitor. Phasellus finibus ipsum vitae placerat sollicitudin.

Suspendisse finibus tincidunt urna, at dignissim sapien porta ac. Fusce ullamcorper nibh at magna maximus, ut tempus nisl condimentum. Nam eros metus, sollicitudin id ante at, rhoncus congue sapien. Sed quis felis dignissim, lacinia metus id, molestie dui. Curabitur porttitor lectus consectetur urna interdum posuere. Proin nibh felis, mattis eu tortor eget, suscipit venenatis diam. Quisque nulla nibh, tincidunt ac magna in, pharetra facilisis tellus. Morbi dolor nulla, laoreet quis suscipit sed, pretium vitae tellus. Aliquam scelerisque semper dolor, nec aliquet nisi venenatis suscipit. Duis dignissim faucibus maximus. In auctor eu libero in elementum. Sed rhoncus eget nulla id accumsan. Curabitur enim nulla, maximus sit amet nibh id, pretium fermentum dui. Aliquam id imperdiet est, id blandit nisl.
        </p>

        <div style="text-align: center; padding-top: 30px;">
            <button type="button" class="btn btn-success btn-lg" style="width: 300px; height: 60px;">Large button</button>
        </div>
    </div>
</div>