{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<head>
  <link rel="stylesheet" href="https://people.rit.edu/~dmb4086/TigerX/main.css">
  <!-- <style>
    html {
      width: 90vw;
    }
  </style> -->
</head>
<!-- <img src="https://i.imgur.com/m3FalyO.png" /> -->
<!-- <img src="{{ url_for('static', filename='TigerPlace_Logo.png') }}" height="400px" width="400px"/> -->

<div class="container" style="display: contents;">
  <div class="jumbotron" style="background-color:#f76902; border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; border-top-right-radius: 0px; border-top-left-radius: 0px;">
    <div style="text-align: center;">
      <img src="https://i.imgur.com/m3FalyO.png" />
    </div>
    <br>
    <form class="search-container" onsubmit="">
      <input type="text" id="search-bar" placeholder="Search">
      <a href="#"><img class="search-icon" src="https://imgur.com/br7tIk2.png"></a>
    </form>
</div>

<br>
<div id="yeetitems">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <figure class="snip1527">
          <div class="image"><img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1561489855-square-1494869964-ikea-ektorp-sofa-cover-1561489824.jpg" alt="pr-sample23" /></div>
          <figcaption>
            <div class="date"><span class="month">$10</span></div>
            <h3>The World Ended Yesterday</h3>
            <p>
              You know what we need, Hobbes? We need an attitude. Yeah, you can't be cool if you don't have an attitude.
            </p>
          </figcaption>
          <a href="#"></a>
        </figure>
        <!-- <div class="thumbnail" style="">
          <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1561489855-square-1494869964-ikea-ektorp-sofa-cover-1561489824.jpg" />
          <div class="caption">
            <h3>Thumbnail lnnnnnabel</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div> -->
      </div>

      <div class="col-sm-6 col-md-4">
        <figure class="snip1527">
          <div class="image"><img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1561489855-square-1494869964-ikea-ektorp-sofa-cover-1561489824.jpg" alt="pr-sample23" /></div>
          <figcaption>
            <div class="date"><span class="month">$10</span></div>
            <h3>The World Ended Yesterday</h3>
            <p>
              You know what we need, Hobbes? We need an attitude. Yeah, you can't be cool if you don't have an attitude.
            </p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>

      <div class="col-sm-6 col-md-4">
        <figure class="snip1527">
          <div class="image"><img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1561489855-square-1494869964-ikea-ektorp-sofa-cover-1561489824.jpg" alt="pr-sample23" /></div>
          <figcaption>
            <div class="date"><span class="month">$10</span></div>
            <h3>The World Ended Yesterday</h3>
            <p>
              You know what we need, Hobbes? We need an attitude. Yeah, you can't be cool if you don't have an attitude.
            </p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>

      <div class="col-sm-6 col-md-4">
        <figure class="snip1527">
          <div class="image"><img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1561489855-square-1494869964-ikea-ektorp-sofa-cover-1561489824.jpg" alt="pr-sample23" /></div>
          <figcaption>
            <div class="date"><span class="month">$10</span></div>
            <h3>The World Ended Yesterday</h3>
            <p>
              You know what we need, Hobbes? We need an attitude. Yeah, you can't be cool if you don't have an attitude.
            </p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>

      <div class="col-sm-6 col-md-4">
        <figure class="snip1527">
          <div class="image"><img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1561489855-square-1494869964-ikea-ektorp-sofa-cover-1561489824.jpg" alt="pr-sample23" /></div>
          <figcaption>
            <div class="date"><span class="month">$10</span></div>
            <h3>The World Ended Yesterday</h3>
            <p>
              You know what we need, Hobbes? We need an attitude. Yeah, you can't be cool if you don't have an attitude.
            </p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>

      <div class="col-sm-6 col-md-4">
        <figure class="snip1527">
          <div class="image"><img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1561489855-square-1494869964-ikea-ektorp-sofa-cover-1561489824.jpg" alt="pr-sample23" /></div>
          <figcaption>
            <div class="date"><span class="month">$10</span></div>
            <h3>The World Ended Yesterday</h3>
            <p>
              You know what we need, Hobbes? We need an attitude. Yeah, you can't be cool if you don't have an attitude.
            </p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
    </div>
  </div>
</div>


<script>
  function myFunction() {
  var x = document.getElementById("yeetitems");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>




{% endblock %}